@import "style-headers.css";

@font-face {
    font-family:"Star Jedi";
    src: url("star-jedi_[allfont.net].ttf") format("truetype");
  }

html {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    background-image: url("../images/tatooine.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    height: 100%;
    width: 100%;

}

#game-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#attacker-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#defender-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#remainder-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

main {
    position: absolute;
}

#game-header {
    text-align: center;
    /* letter-spacing: 0.15em;  The starwars text needs different line spacing. */
}

.jedi-image {
    height: 150px;
    width: 150px;
    margin: 2px;
}

#attacker-selected {
    display: block;
}

#attacker-choices {
    display: inline-flex;
}

#attacker-card-container {
    display: inline-block;
}

#defender-selected {
    display: inline-block;
}

#defender-choices {
    display: inline-flex;
}

#defender-card-container {
    display: inline-block;
}

#remainder-container {
    display: block;
}

#remainder-choices-container {
    display: block;
}

#remainder-choices {
    display: inline-flex;
}