@import "style-headers.css";

@font-face {
    font-family:"Star Jedi";
    src: url("star-jedi_[allfont.net].ttf") format("truetype");
  }

html {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    background-image: url("../images/tatooine.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    height: 100%;
    width: 100%;

}

#game-header {
    text-align: center;
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#attacker-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#defender-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

#remainder-header {
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
}

main {
    position: absolute;
}

#left-container {
    display: inline-block;
}

#results-container {
    /* display: inline-block; */
    display: none;
    font-family: 'Star Jedi', Times, serif;
    color: yellow;
    width: 500px;
    position: absolute;
    margin-left: 3em;
    overflow: scroll;
}

.jedi-image {
    height: 220px;
 /* width: 160px; */
}

#attacker-container {
    display: block;
}

#attacker-selected {
    display: block;
}

#attacker-choices {
    display: inline-flex;
}

#attacker-card-container {
    display: inline-flex;
}

#defender-selected {
    display: none;    
}

#defender-choices {
    display: inline-flex;
}

#defender-card-container {
    display: inline-flex;
}

#remainder-container {
    display: none;
}

#remainder-choices-container {
    display: block;
}

#remainder-choices {
    display: inline-flex;
}

#attack-button {
    display: none;
    margin-bottom: 1rem;
}